body {
  background-color: #363839;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  color: white;
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

a:link {
	color: #c3d264;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
  border-radius: 50%;
}